<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <th>Exercise</th>
      <th>Duration</th>
      <th>Skill level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title[0..25] unless activity.title.nil? %></td>
        <td><%= activity.description[0..25] unless activity.description.nil? %></td>
        <td><%= activity.content[0..25] unless activity.content.nil? %></td>
        <td><%= activity.exercise[0..25] unless activity.exercise.nil? %></td>
        <td><%= activity.duration %></td>
        <td><%= activity.skill_level %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
