<p id="notice"><%= notice %></p>

<h1>Plans</h1>
<%= link_to 'Crear plan', create_plan_plans_url %>

<% @plans.order(id: :desc).each do |plan| %>
  <p>
    <strong>Start:</strong>
    <%= plan.start %>
  </p>

  <p>
    <strong>Final:</strong>
    <%= plan.final %>
  </p>

  <div class="container">
    <div class="row">
      <% plan.plan_activities.order(:id).each do |plan_activity| %>
        <div class="col" style="padding: 0px">
          <div class="card text-white bg-<%= plan_activity.day %> mb-3" style="max-width: 20rem;">
            <div class="card-header">Actividad día: <%= plan_activity.day %></div>
            <div class="card-body">
              <h4 class="card-title"><%= plan_activity.activity.title unless plan_activity.activity.title.nil? %></h4>
              <p class="card-text"><%= plan_activity.activity.description  unless plan_activity.activity.description.nil? %></p>

              <p><b>Duration:</b> <%= plan_activity.activity.duration %></p>
              <p><b>Nivel:</b> <%= plan_activity.activity.skill_level %></p>
              <p><b>Status:</b> <%= plan_activity.status %></p>

              <td><%= link_to 'Mostrar', plan_activity, class: "btn btn-#{plan_activity.status}" %></td>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <hr>
  <br>
<% end %>
